.smallCard {
  transform: scale(0.7);
}

.calendar {
}

.calendarHidden {
  display: none;
  height: 100%;
}

.MyClass {
  opacity: 0;
}
.MyClassEnterActive {
  opacity: 1;
  transition: opacity 1000ms;
}
.MyClassEnterDone {
  opacity: 1;
}
.MyClassExitDone {
  opacity: 0;
}
.MyClassExitActive {
  opacity: 0;
  transition: opacity 1000ms;
}
