.smallScreen {
  color: 'blue';
}

@media (min-width: 500px) {
  .smallScreen {
    display: none;
  }
}

.Diet {
  background-image: url('../../../IMG/frontMobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Diet:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
}
