.DietMobile {
  background-image: rgba(255, 255, 255, 0.6); /* fallback for older browsers */
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    url('../../../IMG/frontMobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.Diet {
  background-image: rgba(255, 255, 255, 0.3); /* fallback for older browsers */
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url('../../../IMG/frontPage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.renderCollapsed {
  left: 0%;
}

.hide {
  left: 100%;
  display: none;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-width: 0.75rem;
}

.flexBasis100 {
  flex-basis: 100%;
}
